<nav class="navbar navbar-default nnav">
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="$parent.ricerca">
  </div>
 
  <div class="form-group">
    <select class="form-control" ng-init="$parent.colore='tutte'" ng-model="$parent.colore">
      <option value="tutte" >Tutte</option>
      <option value="alta" >Alto</option>
      <option value="media" >Medio</option>
      <option value="bassa" >Basso</option>
    </select>
     </div>
      <button type="submit" class="btn btn-default" ui-sref-active="active" ui-sref="crea">Crea</button>
</form>
</nav>